body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./back1.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; /* Center the background image */
      
  }
  
  .container {
    text-align: center;
  }
  
  #passwordInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
  }
  
  #passwordStrength {
    font-size: 14px;
  }
  